body{
	background: gray;
}

.btn{

	width: 228px;
	height: 33px;

	margin: 0 auto;


	font-weight: bold;
	font-size: 18px;
	
	color: #FFFFFF;
	text-align: center;
	background:#5929CC;
     		
      border-radius: 10px;
      padding: 2px 4px;

}
.button{
	width: 228px;
	height: 33px;

	margin: 0 auto;


	font-weight: bold;
	font-size: 18px;
	
	color: #FFFFFF;
	text-align: center;
	background:green;
     		
      border-radius: 10px;
      padding: 2px 4px;

}
.white{

	background-color: #FFFFFF;
}